footer{
	width:100%;
	background-color: $color__brand-color2;
	padding-bottom: 1rem;
}

span{
	display:block;
}


h2{
	font-family:'open sans';
	color: $color__brand-color1;
	text-align: center;
	width: 100%;
	margin:0;
	padding: 2rem;
	font-size:1.75rem;
	@include tablet {
		max-width:500px;
		text-align:left;
		margin:auto;
		font-size: 2rem;
			span{
		text-align:right;
	}
	}
		@include desktop {
			font-size: 2.25rem;
		}
	}



	
	.social-links{
		transition: font-size 400ms ease-out 10ms; 
		display:flex;
		flex-direction:row;
		justify-content:space-around;
		width:100%;
		margin:0;
		padding:0;
		a{
		color:$color__background-header;
		&visited{
			color:$color__background-header;
		}
		}
		@include tablet {
			max-width: 60%;
			margin:0 auto;
		}
		@include desktop {
			max-width: 40%;
			margin:0 auto;
		}
	}
	.social-links li{
		text-align: center;
		list-style:none;
		color:$color__background-header;
		font-size:4rem;
		&:hover{
			font-size:4.5rem;
		}
	}