


#headshot{
	border-radius: 50%;
width:300px;
height:300px;

}


p{
	color: $color__background-header;
	text-align: center;
	margin:auto;
}

.tagline{
padding: 2rem 1rem;

}
.about-me{
	background: white;
}
//below should be replaced with smaller code since it repeats the arrow code

.about-me:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: white;
	border-width: 15px;
	margin-left: -20px;
}

.mission{
	background-color: red;
}

.skills{
	background-color:#EDEDED;
}


.tagline:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: white;
	border-width: 15px;
	margin-left: -20px;
}
