
p{
	color: $color__background-header;
	text-align: center;
	margin:auto;
	font-family: 'Roboto';
	font-weight: normal;
}

.tagline{
padding: 3rem 1rem;
		  @include tablet {
   max-width:70%;
   margin:0 auto;
   }

}
.about-me{
	background: white;
}
//below should be replaced with smaller code since it repeats the arrow code

.about-me:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: white;
	border-width: 15px;
	margin-left: -20px;
}


.skills{
	background-color:#EDEDED;
	
	padding:3rem;
}

.skills-container{
	padding-bottom:3rem;
	overflow:wrap;
	text-align: center;
	margin: 0 auto;
	h4{
		margin:1rem;
	}
	p{
		color:black;
		text-align:left;
	}
	i{
		font-size:3rem;
		color: $color__background-header;
	}
}

.skills_flag{
	background: #EDEDED;
}
//below should be replaced with smaller code since it repeats the arrow code

.skills_flag:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #EDEDED;
	border-width: 15px;
	margin-left: -20px;
}


h4{
	color: $color__background-header;
}


.about{
text-align: center;
padding: 4rem 1rem;
		  @include tablet {
   max-width:70%;
   margin:0 auto;
   }
}

#headshot{
border-radius:50%;
width:200px;
height:200px;
overflow:hidden;
margin-bottom: 3rem;
		  @include tablet {
   width:250px;
   height: 250px;
   margin-bottom: 2rem;
   }
}

.responsive-menu{
	ul{
		margin:0;
		padding:0;
	}
}
