
p{
	color: $color__brand-color1;
	text-align: center;
	margin:auto;
	font-family: $font__main;

	
}


// Front-page intro quote section
.intro-quote{
	padding: 4rem 1rem ;
	font-size:1.15rem;
	font-weight:100;
	@include tablet {
		max-width:70%;
		margin:0 auto;
		font-size:1.25rem
	}
	@include desktop {
		max-width:600px;
		font-size: 1.5rem;
	}
}

// Front-page skills section
.skills{
	background-color:$color__brand-color3;
	padding:5rem 3rem;
}

.skills-container{
	transition: background-color 400ms ease-out 10ms; 
	padding: 2rem;
	text-align: center;
	margin: 0 auto;
	h4{
		margin:1rem;
		font-size:1.3rem;
		font-family: $font__heading;
	}
	p{
		color:black;

	}
	i{
		font-size:3rem;
		color: $color__brand-color1;
	}
}

h4{
	color: $color__brand-color1;
}

.skills-image{
	height:80px
}



// Front-page about section
#headshot{
	border-radius:50%;
	width:200px;
	height:200px;
	overflow:hidden;
	margin:0 auto 2rem auto;
	text-align: center;
	@include tablet {
		width:250px;
		height: 250px;
		margin-bottom: 2rem;
	}
}


.about{
	text-align: center;
	padding: 4rem 1rem;
	font-size:1.15rem;
	font-weight:100;
	@include tablet {
		max-width:70%;
		margin:0 auto;
		font-size:1.25rem;
	}
	@include desktop {
		max-width:600px;
		font-size: 1.5rem;
	}
}



