

header {
	background-color: $color__brand-color1;
	color:$color__brand-color2;
}

.container{
	margin: 0 1rem;
}

.large-screen{
	@include desktop {
		max-width: 1024px;
		margin: auto;
	}
}
//Nav Menu Styling
.navigation {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	width:100%;
	padding:1rem 1rem 0 1rem;
	@include desktop {
		max-width: 1024px;
		margin:auto;
		text-align:center;
		padding:0 1rem;
	}
	@include large-screen-breakpoint{
		padding:0;
	}
}

//Left-hand Nav Menu Text Styling
.home-link{
	padding:0;
	display:flex;
	img{
		height:40px;
		padding-right: .65rem;
		

	}
	h3{
		margin-top:.65rem;
		font-weight: 400;
		font-size: 1.1rem;
		font-family: 'Open Sans';
		@include desktop {
			margin-top: .65rem;
		}
	}
}


//Right-hand Nav Menu Styling
.menu a{
	padding: .65rem .65rem 0 .65rem;
}

.navigation ul{
	display:flex;
	list-style:none;
	margin-bottom: 0;
	li{
		display:none;
		text-decoration: none;
		&:hover{
			border-bottom: $color__brand-color2 2px solid;
		}
		@include desktop {
			display:inline-block;
		}
	}
	&:hover .current_page_item { 
		border-bottom: none; 
	} 
}


#site-navigation a{
	display:none;
	text-decoration: none;
	font-family: 'Open Sans';
	font-size: 1.1rem;
	color:white;
	display:block;
	@include desktop {
		display:inline-block;
		margin-top:1rem;
		

	}
}


//Yellow border on selected page
.current_page_item{
	@include desktop {
		border-bottom: 2px $color__brand-color2 solid;
		&:hover{
			border-bottom:none;
		}
	}
}

//Keep nav bar fixed at top of page
.fixed-nav-bar {
	top: 0;
	left: 0;
	width: 100%;
	height: 85px;
	background-color: $color__brand-color1;

}

#nav-bar{
	z-index:200;
}


//Main Site Title Styling


.site-title{
	color:$color__brand-color2;
	font-family: 'Open Sans';
	font-weight:600;
	padding: 8rem 0 8rem 0;
	@include desktop {
		font-size:2.5rem;
		padding: 5rem 0;
		height:500px;
		display:flex;
		align-items:center;
	}
}

