header {
background-color: $color__background-header;
color:$color__text-header;
}

.navigation {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	width:100%
}


#site-navigation a{
	display:none;
	text-decoration: none;
		  @include desktop {
    display:inline-block;
    color:white;
	text-decoration: none;
   }
}


.container{
	margin: 0 1rem;
}

.navigation ul{
	display:flex;
	list-style:none;
}

.navigation li{
	display:none;
		text-decoration: none;
		  @include desktop {
      display:inline-block;
   }
}

span{
	display: block;

}

h1{
	color:$color__brand-color-header;
	margin:0;
	padding-bottom:2rem;
}

h3{
	margin-top:.65rem;
}
.menu{
	margin:0;
	padding:0;
}

.arrow_box {
	position: relative;
	background: $color__background-header;
}
.arrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: $color__background-header;
	border-width: 15px;
	margin-left: -20px;
}
